.projects {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 650px;
    padding-top: 100px;

    @media (max-width: 640px) {
        width: 95vw;
    }

}

.projects_title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    margin: 10px;
}