.projects {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 650px;
    padding-top: 100px;

    transition: all 0.5s ease;

    &:hover {
        scale: 1.03;
        transition: scale 0.3s ease;
    }
}

.projects_title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    margin: 10px;
}